---
import { Navbar } from "@/components/react/Navbar";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="Genera tablas de verdad desde una expresión lógica"
    />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/images/logo.png" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <script
      async
      src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-4665787383933447"
      crossorigin="anonymous"
    ></script>
    <script is:inline>
      const getTheme = () => {
        if (
          typeof localStorage !== "undefined" &&
          localStorage.getItem("theme")
        ) {
          return localStorage.getItem("theme");
        }
        if (window.matchMedia("(prefers-color-scheme: dark)").matches) {
          return "dark";
        }
        return "light";
      };
      const theme = getTheme();
      if (theme === "dark") {
        document.documentElement.classList.add("dark");
      } else {
        document.documentElement.classList.remove("dark");
      }
    </script>
  </head>
  <body class="min-h-screen bg-background font-sans antialiased">
    <Navbar client:load />
    <main>
      <slot />
    </main>
    <style is:global></style>
  </body>
</html>
